/arq/flag.txt
flag.txt
*txt
__pycache__/inner.cpython-313.pyc
arq/__pycache__/verify.cpython-313.pyc
__pycache__/inner.cpython-313.pyc
arq/__pycache__/verify.cpython-313.pyc
arq/__pycache__/verify.cpython-313.pyc
/arq/__pycache__
__pycache__/inner.cpython-313.pyc
__pycache__
.venv
/__pycache__
arq/flag.txt
atalhos/github_desktop_lnk.lnk
/opener/__pycache__
/arq/__pycache__
